menu "DHT11 Driver"

    config DHT11_GPIO
        int "DHT11 GPIO"
        default 15

    config DHT11_TASK_PRIORITY
        int "DHT11 Task Priority"
        default 2

    config DHT11_TASK_STACK_SIZE
        int "DHT11 Task Stack Size in words"
        default 2056

endmenu
